<div class="block">
    <p class="title is-3">Update Ipt</p>
    <p class="subtitle is-5">Add/Update Integrated Product Team</p>
</div>
<div class="block">
    <div class="field">
    <div class="control">
        <a id="btn-new" class="button is-link" href="ipts">Add New</a>
    </div>
    </div>
    <div class="field">
        <p class="control has-icons-left">
            <input id="search-input" class="input" type="text" placeholder="Search" />
            <span class="icon is-small is-left">
                <i class="fas fa-search"></i>
            </span>
        </p>
    </div>
</div>
<div class="block">
    <div class="table-container">
        <table class="table is-bordered is-striped is-fullwidth is-hoverable">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody data-handler="form">
                {{ range .Ipts }}
                <tr>
                    <td>{{ .Id }}</td>
                    <td>{{ .Name }}</td>
                    <td>{{ .Description }}</td>
                </tr>
                {{ end }}
            </tbody>
        </table>
    </div>
</div>