<div class="container">
    <div class="level">
        <div class="level-left">
            <h2 class="level-item title is-size-2">{{ .Period }}</h2>
        </div>
        <div class="level-right">
            <h2 class="level-item title is-size-3 has-text-right">{{ .Name }}</h2>
        </div>
    </div>
    <div class="columns is-1">
        <div class="column"><p class="has-text-centered">Sat</p></div>
        <div class="column"><p class="has-text-centered">Sun</p></div>
        <div class="column"><p class="has-text-centered">Mon</p></div>
        <div class="column"><p class="has-text-centered">Tue</p></div>
        <div class="column"><p class="has-text-centered">Wed</p></div>
        <div class="column"><p class="has-text-centered">Thu</p></div>
        <div class="column"><p class="has-text-centered">Fri</p></div>
    </div>
    {{ $i := 0 }}
    {{ range .Outer }}
    <div class="columns is-1">
        {{ range $.Inner }}
        <div id="{{ (index $.Days $i).CalDate }}" class="column calendar-tile">
            <div class="panel is-info mb-0"><p class="panel-heading p-2 has-text-centered">{{ (index $.Days $i).DayNum }}</p></div>
            <input class="input has-text-centered has-text-weight-bold is-size-3 py-6" type="text" value="0.0" {{ if (index $.Days $i).Disabled }}disabled{{ end }}/>
            <p class="has-text-centered">{{ (index $.Days $i).ProdHours }}</p>
        </div>
        {{ $i = add $i 1 }}
        {{ end }}
    </div>
    {{ end }}
    <div class="field has-addons">
        <p class="control">
            <span class="select">
                <select id="calc-control">
                    <option value="adjust">Adjust</option>
                    <option value="reset">Reset</option>
                </select>
            </span>
        </p>
        <p class="control is-expanded">
            <input id="capacity-slider" class="input" type="range" value="1" min="-1" max="1" step="0.01" />
        </p>
        <p class="control"><button id="capacity-value" class="button is-static">100%</button></p>
    </div>
    <div class="buttons is-centered">
        <button id="btn-cal-prev" class="button">
            <span class="icon"><i class="fas fa-caret-left"></i></span>
        </button>
        <button id="btn-cal-save" class="button">Save</button>
        <button id="btn-cal-calculate" class="button">Calculate</button>
        <button id="btn-cal-cancel" class="button">Cancel</button>
        <button id="btn-cal-next"class="button">
            <span class="icon"><i class="fas fa-caret-right"></i></span>
        </button>
    </div>
</div>
