<div class="table-container" data-plan-id="{{ .Plan.Id }}" data-pop-start="{{ .Plan.StartDate }}" data-pop-end="{{ .Plan.EndDate }}">
    <table class="table is-bordered is-striped is-hoverable">
        <thead>
            <tr>
                <th>
                    <button class="button is-info is-outlined" data-evt="add-row">
                        <span class="icon is-small"><i class="fas fa-plus"></i></span>
                    </button>
                </th>
                <th>Name</th>
                <th>Scope</th>
                <th>Rate</th>
                <th>
                    <div class="select is-info">
                        <select>
                            <option>Adjust</option>
                            <option>Reset</option>
                        </select>
                    </div>
                </th>
                {{ range .Months }}
                <th>
                    <button class="button is-text"  data-evt="adjust-col" data-start-date="{{ .StartDate }}" data-end-date="{{ .EndDate }}" data-fiscal-period="{{ .FiscalPeriod }}">
                        {{ .DisplayName }}
                    </button>
                </th>
                {{ end }}
            </tr>
        </thead>
        <tbody>
            <!-- might just take this out and handle the rows separately -->
            {{ range .EmpRows }}
            <tr data-emp-id="{{ .EmpId }}" data-scope-id="{{ .ScopeId }}">
                <td>
                    <button class="button is-danger is-outlined" data-evt="delete-row">
                        <span class="icon is-small"><i class="fas fa-trash-alt"></i></span>
                    </button>
                </td>
                <td>{{ .EmpName }}</td>
                <td>{{ .ScopeName }}</td>
                <td>{{ .LaborRate }}</td>
                <td>
                    <div class="field has-addons">
                        <div class="control">
                            <input class="input is-small" type="number" min="0" max="1" step="0.01" value="1.0" />
                        </div>
                        <div class="control">
                            <button class="button is-success is-small" data-evt="adjust-row">
                                <span class="icon is-small"><i class="fas fa-calculator"></i></span>
                            </button>
                        </div>
                    </div>
                </td>
                {{ range $.Months }}
                <!-- $("tbody").find("button[data-fiscal-period='202501']"); then sum with .each -->
                <td><button class="button is-fullwidth" data-evt="show-cal" data-start-date="{{ .StartDate }}" data-end-date="{{ .EndDate }}" data-fiscal-period="{{ .FiscalPeriod }}">0</button></td>
                {{ end }}
            </tr>
            {{ end }}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <!-- $(".cost-total ~ td").text(); to update total cost on page -->
                <td class="cost-total">Cost</td>
                {{ range .Months }}
                <td>0</td>
                {{ end }}
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="hours-total">Hours</td>
                {{ range .Months }}
                <td>0</td>
                {{ end }}
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="fte-total">FTE</td>
                {{ range .Months }}
                <td>0</td>
                {{ end }}
            </tr>
        </tbody>
    </table>
</div>
